.selector {
  margin: 10px 0px;
}
.selector p {
  color: #707070;
}

.selector_button {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 50px;
  margin: 15px 0px;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  width: 350px;
  border-radius: 3px;
  font-family: "EB Garamond", serif;
}

@media only screen and (max-width: 768px) {
  .selector {
    width: 100% !important;
  }
  .selector p {
    width: 60px;
    text-align: left;
  }
}
