.btn {
  background-color: #5131de;
  height: 40px;
  width: 200px;
  color: #fff;
  border-radius: 4px;
  margin: auto;
  margin-left: auto;
  justify-self: center;
  font-family: "EB Garamond", serif;
}

.btn:disabled {
  background-color: #d59b80;
}
