.submissions__container {
  width: 40%;
  margin: 100px auto;
  font-size: larger;
  margin-bottom: 14rem;
}
/* .welcome__section {
  margin: auto;
} */

.welcome__section h1 {
  font-size: 32px;
  margin: auto;
  font-weight: 100;
}
.submissions__container h1 {
  font-size: 28px;
  margin: auto;
  font-weight: 100;
}

.submissions__container h2 {
  font-size: 24px;
  font-weight: 100;
}

.submissions__container p {
  margin: 1.5rem;
  font-size: 18px;
  font-weight: 100;
}

.submissions__container h2:before {
  height: 18px;
  width: 18px;
  background: url("../assets/images/play.svg") no-repeat;
  float: left;
  content: "";
  margin: 7px 6px 0 0;
}

@media only screen and (max-width: 1045px) {
  .submissions__container {
    width: 70%;
  }
}

@media only screen and (max-width: 478px) {
  .submissions__container {
    width: 95%;
  }
}
