.navBar {
  width: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  padding: 1.1em;
  position: fixed;
  top: 0px;
  z-index: 6;
}

.left h1 {
  font-size: 25px;
}

.right {
  justify-content: stretch;
}

.group .item__title {
  color: "red";
  justify-content: stretch;
}
.group .item__title img {
  display: none;
  margin-left: 10px;
  height: auto;
  transform: rotate(-90deg);
}

.group .item__title p:after {
  height: 10px;
  width: 10px;
  transform: rotate(90deg);
  background: url("../../assets/images/play.svg") no-repeat;
  float: right;
  content: "";
  margin: 7px 5px;
}

.group {
  margin: 0 20px;
}
.group .item__list {
  justify-content: center;
}

.group .item__list ul {
  margin-top: 5px;
  list-style: none;
}

.item__list ul li {
  text-decoration: underline;
  font-size: small;
  padding: 7px;
}
.item__list {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 7;
  display: none;
}

.group:hover .item__list {
  display: block;
}

.item__list ul li a {
  text-decoration: none;
  color: black;
}
.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 90px solid #742602;
  border-right: 90px solid transparent;
}

.logo__image {
  height: 50px;
}
.navbar-home__link {
  color: #000;
  margin-right: 30px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .hamburger__icon {
    align-self: flex-start;
    display: none;
  }
  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #742602;
    border-right: 100px solid transparent;
  }
}

@media only screen and (max-width: 768px) {
  .navBar {
    flex-direction: column !important;
  }
  .right {
    display: none;
  }
  .right__mobile {
    display: visible !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .item__list {
    justify-content: flex-start !important;
  }
  .group {
    margin-top: 0.5rem;
  }
  .item__list {
    margin-left: inherit;
  }
  .left {
    justify-content: space-between;
    width: 100%;
  }
  .left img {
    align-self: flex-start;
    display: visible;
    margin-right: 1.6rem;
  }
  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #742602;
    border-right: 50px solid transparent;
  }
}
