.admin-navbar {
  z-index: 8;
  box-shadow: 2px 0px 4px #ae775e0d;
}
.admin-page {
  display: flex;
  margin-bottom: 14em;
}
.admin-navbar__item {
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.admin-navbar__title {
  padding: 5px;
  margin: 30px 5px;
  justify-content: space-between;
}
.admin-navbar__item span {
  margin-left: 10px;
}

.admin-content {
  margin: auto;
  margin-left: 30px;

  margin-top: 127px;
}

.piece-card {
  background: #ffffff;
  margin: 30px auto;
  width: 80%;
  justify-content: space-around;
  box-shadow: 0px 2px 2px rgba(186, 160, 160, 0.25);
  border-radius: 3px;
}

.icons {
  margin-left: 0.8em;
}

.icon {
  margin: auto 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px #f1fcfc;
  border-radius: 5px;
}

.card-content {
  padding: 1.5rem;
  align-self: center;
  max-width: 50%;
}
.cover-image img {
  height: 130px;
  margin: 30px;
  width: 180px;
  object-fit: cover;
}

.card-content h1 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 23px;
}

.time-stamp {
  margin-top: 30px;
  margin-left: -5px;
}
.new__piece {
  position: fixed;
  background-color: #5131de;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  top: 87vh;
  z-index: 9;
  left: 80vw;
}
.new__piece ul {
  list-style: none;
  color: #fff;
}
.new__piece a {
  color: #fff;
}
.hide__links {
  display: none;
}

.active-content__title {
  font-weight: 500;
  font-size: xx-large;
  text-align: center;
}

.logout-btn {
  /* margin-left: 30px;
  margin-top: 68vh; */
}
.logout-btn span,
.time-stamp span {
  margin-left: 5px;
}

.time-stamp {
  margin-left: 2px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .admin-page {
    margin-top: 70px;
  }
}
