.admin-navbar {
  width: 200px;
  background-color: #1c0a02;
}
.admin-page {
  margin-top: 127px;
  min-height: 100vh;
}
.admin-navbar__item {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px #707070;
}

.admin-navbar__item .item__number {
  border: solid 1px #707070;
  margin-left: 10px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.admin-content {
  margin: 0px auto;
}

.piece-card {
  justify-content: space-between;
  border-bottom: solid 1px #707070;
  margin: auto;
  padding: 13px 0px;
}

.piece-card p {
  margin: 0px 10px;
}

.icons {
  margin-left: 0.8em;
}

.icon {
  margin: auto 5px;
}

.admin-content .title {
  font-size: xx-large;
  padding: 50px 0px 2px 0px;
  text-decoration: underline;
}

.new__piece {
  position: fixed;
  background-color: #5131de;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  top: 87vh;
  left: 80vw;
}
.new__piece ul {
  list-style: none;
  color: #fff;
}
.new__piece a {
  color: #fff;
}
.hide__links {
  display: none;
}

@media only screen and (max-width: 768px) {
  .admin-page {
    margin-top: 70px;
  }
  .admin-content {
    width: 60%;
  }
}
